<div class="container">
  <p>
    <strong>Title:</strong>
    <%= @magazine.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= @magazine.text %>
  </p>

  <%= link_to 'Back', magazines_path %>


</div>
